{% extends 'core/base.html' %}
{% block content %}
<style>
    body {
        background-color: #ffffff !important; /* Forzar fondo blanco en el body */
    }
</style>
<main class="px-0 py-8 mx-0 w-full min-h-screen bg-white">
    <div class="container px-4 mx-auto bg-white">
        <section class="mx-auto max-w-4xl bg-white">
            <h1 class="mb-6 text-3xl font-bold text-center text-gray-800">Política de Privacidad</h1>
            
            <div class="p-6 text-gray-700 bg-white rounded-lg">
                <p class="mb-4">
                    Esta Política de Privacidad describe cómo Moretti International Ltd. (el " Sitio ", " nosotros ", " nos " o " nuestro ") recopila, utiliza y divulga su información personal cuando visita, utiliza nuestros servicios, realiza una compra en cristian-moretti.myshopify.com (el " Sitio ") o se comunica con nosotros de cualquier otra forma (en conjunto, los " Servicios "). A los efectos de esta Política de Privacidad, " usted " y " su " se refieren a usted como usuario de los Servicios, ya sea cliente, visitante del sitio web u otra persona cuya información hayamos recopilado de conformidad con esta Política de Privacidad.
                </p>
                <p class="mb-4">
                    Lea atentamente esta Política de Privacidad. Al usar y acceder a cualquiera de los Servicios, usted acepta la recopilación, el uso y la divulgación de su información según lo descrito en esta Política de Privacidad. Si no está de acuerdo con esta Política de Privacidad, le rogamos que no use ni acceda a ninguno de los Servicios.            
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Cambios a esta Política de Privacidad</h2>
                <p class="mb-4">
                    Podemos actualizar esta Política de Privacidad ocasionalmente, incluso para reflejar cambios en nuestras prácticas o por otros motivos operativos, legales o regulatorios. Publicaremos la Política de Privacidad revisada en el Sitio, actualizaremos la fecha de "Última actualización" y tomaremos cualquier otra medida requerida por la legislación aplicable.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Cómo recopilamos y utilizamos su información personal</h2>
                <p class="mb-4">
                    Para prestar los Servicios, recopilamos y hemos recopilado durante los últimos 12 meses información personal sobre usted de diversas fuentes, como se detalla a continuación. La información que recopilamos y utilizamos varía según cómo interactúe con nosotros.
                </p>
                <p class="mb-4">
                    Además de los usos específicos que se detallan a continuación, podemos utilizar la información que recopilemos sobre usted para comunicarnos con usted, proporcionar los Servicios, cumplir con cualquier obligación legal aplicable, hacer cumplir los términos de servicio aplicables y proteger o defender los Servicios, nuestros derechos y los derechos de nuestros usuarios u otros.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Qué información personal recopilamos</h2>
                <p class="mb-4">
                    Los tipos de información personal que obtenemos sobre usted dependen de cómo interactúe con nuestro Sitio y utilice nuestros Servicios. Cuando usamos el término "información personal", nos referimos a la información que lo identifica, se relaciona con usted, lo describe o puede asociarse con usted. Las siguientes secciones describen las categorías y los tipos específicos de información personal que recopilamos.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Información que recopilamos directamente de usted</h2>
                <p class="mb-4">
                    La información que nos envíe directamente a través de nuestros Servicios puede incluir:
                </p>
                <ul class="mb-4 space-y-2 list-disc list-inside">
                    <li>Datos de contacto básicos, incluidos su nombre, dirección, número de teléfono y correo electrónico.</li>
                    <li>Información del pedido, incluyendo su nombre, dirección de facturación, dirección de envío, confirmación de pago, dirección de correo electrónico y número de teléfono.</li>
                    <li>Información de la cuenta, incluido su nombre de usuario, contraseña y preguntas de seguridad.</li>
                    <li>Información de compra, incluidos los artículos que ves, pones en tu carrito o agregas a tu lista de deseos.</li>
                    <li>Información de atención al cliente, incluida la información que usted elige incluir en las comunicaciones con nosotros, por ejemplo, al enviar un mensaje a través de los Servicios.</li>
                </ul>
                <p class="mb-4">
                    Algunas funciones de los Servicios podrían requerir que nos proporcione directamente cierta información sobre usted. Puede optar por no proporcionar esta información, pero hacerlo podría impedirle usar o acceder a estas funciones.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Información que recopilamos a través de cookies</h2>
                <p class="mb-4">
                    También recopilamos automáticamente cierta información sobre su interacción con los Servicios (" Datos de Uso "). Para ello, podemos utilizar cookies, píxeles y tecnologías similares (" Cookies "). Los Datos de Uso pueden incluir información sobre cómo accede y utiliza nuestro Sitio y su cuenta, incluyendo información del dispositivo, información del navegador, información sobre su conexión de red, su dirección IP y otra información relativa a su interacción con los Servicios.
                </p>
                <li>Nuestros procesadores de pago, que recopilan información de pago (por ejemplo, cuenta bancaria, información de tarjeta de crédito o débito, dirección de facturación) para procesar su pago con el fin de cumplir con sus pedidos y proporcionarle los productos o servicios que ha solicitado, a fin de cumplir con nuestro contrato con usted.</li>
                <li>Cuando visita nuestro Sitio, abre o hace clic en los correos electrónicos que le enviamos o interactúa con nuestros Servicios o anuncios, nosotros o terceros con los que trabajamos podemos recopilar automáticamente cierta información utilizando tecnologías de seguimiento en línea, como píxeles, balizas web, kits para desarrolladores de software, bibliotecas de terceros y cookies.</li>
                <p class="mb-4">
                     
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Información que obtenemos de terceros</h2>
                <p class="mb-4">
                    Toda información que obtengamos de terceros se tratará de acuerdo con esta Política de Privacidad. No nos responsabilizamos de la exactitud de la información que nos proporcionen terceros ni de sus políticas o prácticas. Para más información, consulte la sección " Sitios web y enlaces de terceros" a continuación .
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Cómo usamos su información personal</h2>
                <li>Proporcionar productos y servicios. Utilizamos su información personal para brindarle los Servicios y cumplir con nuestro contrato, lo que incluye procesar sus pagos, completar sus pedidos, enviarle notificaciones relacionadas con su cuenta, compras, devoluciones, cambios u otras transacciones, crear, mantener y administrar su cuenta, gestionar envíos, facilitar devoluciones y cambios, y permitirle publicar reseñas.</li>
                <li>Marketing y publicidad. Utilizamos su información personal con fines de marketing y promoción, como enviarle comunicaciones de marketing, publicidad y promociones por correo electrónico, SMS o correo postal, y mostrarle anuncios de productos o servicios. Esto puede incluir el uso de su información personal para personalizar mejor los Servicios y la publicidad en nuestro Sitio y otros sitios web.</li>
                <li>Seguridad y prevención del fraude. Utilizamos su información personal para detectar, investigar y tomar medidas ante posibles actividades fraudulentas, ilegales o maliciosas. Si decide usar los Servicios y registrar una cuenta, es responsable de mantener seguras las credenciales de su cuenta. Le recomendamos encarecidamente que no comparta su nombre de usuario, contraseña ni otros datos de acceso con nadie. Si cree que su cuenta ha sido vulnerada, póngase en contacto con nosotros de inmediato.</li>
                <li>Comunicarnos con usted. Utilizamos su información personal para brindarle atención al cliente y mejorar nuestros Servicios. Esto responde a nuestros legítimos intereses: responder a sus necesidades, brindarle servicios eficaces y mantener nuestra relación comercial con usted.</li>
                <p class="mb-4">
                     
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Cookies</h2>
                <p class="mb-4">
                    Al igual que muchos sitios web, utilizamos cookies en nuestro sitio. Para obtener información específica sobre las cookies que utilizamos para gestionar nuestra tienda con Shopify, consulte https://www.shopify.com/legal/cookies . Utilizamos cookies para optimizar nuestro sitio y nuestros servicios (incluyendo recordar sus acciones y preferencias), realizar análisis y comprender mejor la interacción de los usuarios con los servicios (en nuestro legítimo interés de administrar, mejorar y optimizar los servicios). También podemos permitir que terceros y proveedores de servicios utilicen cookies en nuestro sitio para personalizar mejor los servicios, productos y publicidad en nuestro sitio y en otros sitios web.
                </p>
                <p class="mb-4">
                    La mayoría de los navegadores aceptan las cookies automáticamente por defecto, pero puede configurar su navegador para que las elimine o las rechace mediante los controles. Tenga en cuenta que eliminar o bloquear las cookies puede afectar negativamente a su experiencia de usuario y puede provocar que algunos Servicios, incluidas ciertas funciones y funcionalidades generales, funcionen incorrectamente o dejen de estar disponibles. Además, bloquear las cookies puede no impedir por completo cómo compartimos información con terceros, como nuestros socios publicitarios.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Cómo divulgamos información personal</h2>
                <p class="mb-4">
                    En determinadas circunstancias, podríamos divulgar su información personal a terceros con fines legítimos, de conformidad con esta Política de Privacidad. Dichas circunstancias pueden incluir:
                </p>
                <ul class="mb-4 space-y-2 list-disc list-inside">
                    <li>Con proveedores u otros terceros que prestan servicios en nuestro nombre (por ejemplo, gestión de TI, procesamiento de pagos, análisis de datos, atención al cliente, almacenamiento en la nube, cumplimiento y envío).</li>
                    <li>Con socios comerciales y de marketing, como Shopify, para brindarle servicios y publicidad. Nuestros socios comerciales y de marketing utilizarán su información de acuerdo con sus propios avisos de privacidad.</li>
                    <li>Cuando usted nos indica, nos solicita o de otra manera consiente nuestra divulgación de cierta información a terceros, como para enviarle productos o mediante su uso de widgets de redes sociales o integraciones de inicio de sesión, con su consentimiento.</li>
                    <li>Con nuestras filiales o de otro modo dentro de nuestro grupo corporativo, en nuestros intereses legítimos de gestionar un negocio exitoso.</li>
                    <li>En relación con una transacción comercial, como una fusión o quiebra, para cumplir con cualquier obligación legal aplicable (incluso para responder a citaciones, órdenes de allanamiento y solicitudes similares), para hacer cumplir los términos de servicio aplicables y para proteger o defender los Servicios, nuestros derechos y los derechos de nuestros usuarios u otros.</li>
                </ul>
                <p class="mb-4">
                    En los últimos 12 meses, hemos divulgado las siguientes categorías de información personal e información personal confidencial (señaladas con *) sobre los usuarios para los fines establecidos anteriormente en "Cómo recopilamos y usamos su información personal" y "Cómo divulgamos información personal" :     
                </p>
                <div class="overflow-x-auto mb-4">
                    <table class="w-full rounded-lg border border-gray-300">
                        <thead>
                            <tr class="bg-gray-50">
                                <th class="px-4 py-2 font-semibold text-left text-gray-800 border-r border-b border-gray-300">Categoría</th>
                                <th class="px-4 py-2 font-semibold text-left text-gray-800 border-b border-gray-300">Categorías de destinatarios</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="px-4 py-2 border-r border-b border-gray-300">
                                    <ul class="space-y-2 list-disc list-inside text-gray-700">
                                        <li>Identificadores como datos básicos de contacto y cierta información de pedidos y cuentas</li>
                                        <li>Información comercial como información de pedidos, información de compras e información de atención al cliente</li>
                                        <li>Internet u otra actividad de red similar, como Datos de uso</li>
                                    </ul>
                                </td>
                                <td class="px-4 py-2 border-r border-b border-gray-300">
                                    <ul class="space-y-2 list-disc list-inside text-gray-700">
                                        <li>Proveedores y terceros que prestan servicios en nuestro nombre (como proveedores de servicios de internet, procesadores de pagos, socios de cumplimiento, socios de atención al cliente y proveedores de análisis de datos)</li>
                                        <li>Socios comerciales y de marketing</li>
                                        <li>Afiliados</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="mb-4">
                    No utilizamos ni divulgamos información personal confidencial con el fin de inferir características sobre usted.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Contenido generado por el usuario</h2>
                <p class="mb-4">
                    Los Servicios no están destinados a ser utilizados por menores, y no recopilamos intencionalmente información personal sobre ellos. Si usted es padre, madre o tutor de un menor que nos ha proporcionado su información personal, puede contactarnos utilizando los datos de contacto que se indican a continuación para solicitar su eliminación.
                </p>
                <p class="mb-4">
                    No controlamos quién tendrá acceso a la información que usted decida compartir con otros, ni podemos garantizar que quienes tengan acceso a dicha información respeten su privacidad ni la mantengan segura. No nos responsabilizamos de la privacidad ni de la seguridad de la información que usted comparta, ni de la exactitud, el uso o el mal uso de la información que divulgue o reciba de terceros.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Sitios web y enlaces de terceros</h2>
                <p class="mb-4">
                    Nuestro Sitio puede proporcionar enlaces a sitios web u otras plataformas en línea operadas por terceros. Si sigue enlaces a sitios no afiliados ni controlados por nosotros, le recomendamos revisar sus políticas de privacidad y seguridad, así como otros términos y condiciones. No garantizamos ni nos responsabilizamos de la privacidad ni de la seguridad de dichos sitios, incluyendo la exactitud, integridad o fiabilidad de la información que contienen. La información que proporcione en espacios públicos o semipúblicos, incluyendo la que comparta en plataformas de redes sociales de terceros, también podrá ser vista por otros usuarios de los Servicios o por usuarios de dichas plataformas, sin limitación alguna en cuanto a su uso por nuestra parte o por parte de un tercero. La inclusión de dichos enlaces no implica, por sí sola, la aprobación del contenido de dichas plataformas ni de sus propietarios u operadores, salvo que se indique en los Servicios.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Datos de los niños</h2>
                <p class="mb-4">
                    Los Servicios no están destinados a ser utilizados por menores, y no recopilamos intencionalmente información personal sobre ellos. Si usted es padre, madre o tutor de un menor que nos ha proporcionado su información personal, puede contactarnos utilizando los datos de contacto que se indican a continuación para solicitar su eliminación.
                </p>
                <p class="mb-4">
                    A la fecha de entrada en vigor de esta Política de privacidad, no tenemos conocimiento real de que “compartimos” o “vendemos” (según se definen esos términos en la legislación aplicable) información personal de personas menores de 16 años.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Seguridad y retención de su información</h2>
                <p class="mb-4">
                    Tenga en cuenta que ninguna medida de seguridad es perfecta ni impenetrable, y no podemos garantizar una seguridad total. Además, la información que nos envíe podría no estar segura durante su transporte. Le recomendamos que no utilice canales no seguros para comunicarnos información sensible o confidencial.
                </p>
                <p class="mb-4">
                    El tiempo que conservamos su información personal depende de diferentes factores, como por ejemplo si necesitamos la información para mantener su cuenta, prestar los Servicios, cumplir con obligaciones legales, resolver disputas o hacer cumplir otros contratos y políticas aplicables.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Sus derechos y opciones</h2>
                <p class="mb-4">
                    Dependiendo de su lugar de residencia, podría tener algunos o todos los derechos que se enumeran a continuación en relación con su información personal. Sin embargo, estos derechos no son absolutos; pueden aplicarse solo en determinadas circunstancias y, en ciertos casos, podríamos rechazar su solicitud según lo permita la ley.
                </p>
                <ul class="mb-4 space-y-2 list-disc list-inside">
                    <li>Derecho de acceso/información. Usted tiene derecho a solicitar acceso a la información personal que tenemos sobre usted, incluyendo detalles sobre cómo la usamos y compartimos.</li>
                    <li>Derecho a eliminar. Tiene derecho a solicitar que eliminemos la información personal que mantenemos sobre usted.</li>
                    <li>Derecho de corrección. Tiene derecho a solicitar que corrijamos la información personal inexacta que mantenemos sobre usted.</li>
                    <li>Derecho de Portabilidad. Usted tiene derecho a recibir una copia de la información personal que tenemos sobre usted y a solicitar que la transfiramos a un tercero, en determinadas circunstancias y con ciertas excepciones.</li>
                    <li>Restricción del procesamiento: Usted puede tener derecho a solicitarnos que detengamos o restrinjamos nuestro procesamiento de información personal.</li>
                    <li>Retirada del consentimiento: cuando dependemos del consentimiento para procesar su información personal, usted puede tener derecho a retirar este consentimiento.</li>
                    <li>Apelación: Tiene derecho a apelar nuestra decisión si rechazamos procesar su solicitud. Puede hacerlo respondiendo directamente a nuestra denegación.</li>
                    <li>Gestión de preferencias de comunicación: Podemos enviarle correos electrónicos promocionales y puede cancelar su suscripción en cualquier momento utilizando la opción de cancelación de suscripción que aparece en los correos electrónicos que le enviamos. Si cancela su suscripción, podremos seguir enviándole correos electrónicos no promocionales, como los relacionados con su cuenta o los pedidos que haya realizado.</li>
                </ul>
                <p class="mb-4">
                    Puede ejercer cualquiera de estos derechos donde se indica en nuestro Sitio o comunicándose con nosotros utilizando los detalles de contacto que se proporcionan a continuación.
                </p>
                <p class="mb-4">
                    No lo discriminaremos por ejercer cualquiera de estos derechos. Es posible que necesitemos recopilar información suya para verificar su identidad, como su dirección de correo electrónico o la información de su cuenta, antes de proporcionar una respuesta sustancial a la solicitud. De acuerdo con la legislación aplicable, usted puede designar a un agente autorizado para que realice solicitudes en su nombre para ejercer sus derechos. Antes de aceptar dicha solicitud de un agente, le solicitaremos que demuestre que usted lo ha autorizado a actuar en su nombre, y es posible que necesitemos que verifique su identidad directamente con nosotros. Responderemos a su solicitud de manera oportuna, según lo exija la legislación aplicable.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Quejas</h2>
                <p class="mb-4">
                    Si tiene alguna queja sobre cómo procesamos su información personal, póngase en contacto con nosotros utilizando los datos de contacto que se indican a continuación. Si no está satisfecho con nuestra respuesta a su queja, dependiendo de su lugar de residencia, puede tener derecho a apelar nuestra decisión poniéndose en contacto con nosotros utilizando los datos de contacto que se indican a continuación o a presentar su queja ante la autoridad local de protección de datos.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">Usuarios internacionales</h2>
                <p class="mb-4">
                    Tenga en cuenta que podemos transferir, almacenar y procesar su información personal fuera de su país de residencia, incluido Estados Unidos. Su información personal también es procesada por nuestro personal y nuestros proveedores de servicios externos y socios en estos países.
                </p>
                <p class="mb-4">
                    Si transferimos su información personal fuera de Europa, nos basaremos en mecanismos de transferencia reconocidos, como las Cláusulas Contractuales Tipo de la Comisión Europea o cualquier contrato equivalente emitido por la autoridad competente del Reino Unido, según corresponda, a menos que la transferencia de datos se realice a un país que proporcione un nivel adecuado de protección.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold">INFORMACIÓN DE PRIVACIDAD DE SMS</h2>
                <p  class="mb-4">
                    Su privacidad es fundamental para nosotros. Solo utilizaremos la información que nos proporcione a través del Programa para transmitir sus mensajes móviles y responderle, si es necesario. Esto incluye, entre otras cosas, compartir información con proveedores de plataformas, compañías telefónicas (operadores) y otros proveedores que nos ayudan a enviar sus mensajes móviles. 
                </p>
                <p  class="mb-4">
                    NO VENDEMOS, ALQUILAMOS, PRESTAMOS, INTERCAMBIAMOS, ARRENDAMOS NI TRANSFERIMOS DE NINGÚN MODO CON FINES DE LUCRO NINGÚN NÚMERO DE TELÉFONO NI INFORMACIÓN DEL CLIENTE RECOPILADA A TRAVÉS DEL PROGRAMA A NINGÚN TERCERO.
                </p>
                <p  class="mb-4">
                    No obstante, nos reservamos el derecho, en todo momento, de divulgar cualquier información que sea necesaria para cumplir con cualquier ley, reglamento o solicitud gubernamental, para evitar responsabilidades o para proteger nuestros derechos o propiedad. Al completar formularios en línea o proporcionarnos información relacionada con el programa, usted se compromete a proporcionar información precisa, completa y veraz. Se compromete a no utilizar un nombre falso o engañoso, ni un nombre que no esté autorizado a utilizar. Si, a nuestra entera discreción, consideramos que dicha información es falsa, inexacta o incompleta, o si usted se ha inscrito en el Programa con un fin ulterior, podremos denegarle el acceso al programa y ejercer las acciones legales pertinentes.
                </p>
                <p  class="mb-4">
                    La Sección 1798.83 del Código Civil de California y el Reglamento General de Protección de Datos 2016/679 (GDPR) permiten a los usuarios del programa que sean residentes de California o de la Unión Europea solicitar cierta información sobre nuestra divulgación de la información que usted proporciona a través del Programa a terceros para sus fines de marketing directo.
                </p>
                <h2 class="pb-2 mb-4 text-2xl font-semibold" id="contacto">Contacto</h2>
                <p class="mb-4">
                    Si tiene alguna pregunta sobre nuestras prácticas de privacidad o esta Política de Privacidad, o si desea ejercer alguno de sus derechos, llámenos o envíenos un correo electrónico a support@cristianmoretti.com o contáctenos en nuestras oficinas.
                </p>
                <div class="p-4 bg-white rounded-lg">
                    <p class="font-semibold">support@cristianmoretti.com o contáctenos en nuestras oficinas.</p>
                    <p class="font-semibold">Nombre de la empresa</p>
                    <p class="font-semibold">Teléfono: +XX (XX) XXXX-XXXX</p>
                    <p class="font-semibold">Dirección: [Dirección completa]</p>
                    <p class="font-semibold">Perù</p>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}