{% extends 'core/base.html' %}
{% load static %}

{% block title %}Contraseña Cambiada - {{ user.first_name|default:user.username }}{% endblock %}

{% block content %}
<main class="px-0 py-8 mx-0 w-full min-h-screen bg-white">
<div class="container px-4 mx-auto bg-white">
<div class="flex justify-center items-center px-4 py-12 min-h-screen bg-white sm:px-6 lg:px-8">
  <div class="p-6 space-y-8 w-full max-w-md bg-white rounded-lg shadow-md">
    <h2 class="text-3xl font-bold text-center text-gray-900">Contraseña Cambiada</h2>
    <p class="text-sm text-center text-gray-600">
      Tu contraseña ha sido actualizada con éxito.
    </p>
    <div class="flex justify-center">
      <a href="{% url 'users:account_settings' %}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition-300">
        Volver a configuración de cuenta
      </a>
    </div>
  </div>
</div>
</div>
</main>
{% endblock %}