# Asegúrate de que el archivo tenga permisos restringidos
# En sistemas Unix, ejecuta: chmod 600 .env

# Claves de Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=tu_token_de_acceso_de_mercadopago
MERCADO_PAGO_PUBLIC_KEY=tu_clave_publica_de_mercadopago

# Configuración de correo electrónico
EMAIL_HOST_USER=tu_correo@gmail.com
EMAIL_HOST_PASSWORD=tu_contraseña_de_aplicacion
DEFAULT_FROM_EMAIL=tu_correo@gmail.com

# Claves de autenticación social
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=tu_clave_de_google
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=tu_secreto_de_google
SOCIAL_AUTH_GOOGLE_OAUTH2_REDIRECT_URI=https://tu-dominio.com/complete/google-oauth2/

# claves de autenticacion de Google Maps
GOOGLE_MAPS_API_KEY=tu_clave_api_de_google_maps

# Clave secreta de Django
DJANGO_SECRET_KEY=tu_clave_secreta_muy_segura_aqui

# Configuración de base de datos
DB_NAME=nombre_de_tu_base_de_datos
DB_USER=usuario_de_base_de_datos
DB_PASSWORD=contraseña_de_base_de_datos
DB_HOST=host_de_base_de_datos
DB_PORT=3306